body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;  
    
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    color: #333;    

}
.card {
    background-color: #ffff;
    padding:0;
    border-radius: 8px;
    box-shadow:0 4px 8px rgb(240, 142, 22);
    padding: 20px;
    width: 50%;
    text-align: center;
    max-width: 300px;
}

#last-updated {

    font-size: 12px;
    color: #666;
    margin: 5px 0
}

#title {
    font-size: 24px;
    margin: 10px 0;
    color: rgb(240, 142, 22);
}

#btc-result{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    color: #333
}