body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;  
    
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    color: #333;    

}
.card {
    background-color: #ffff;
    padding:0;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(247, 147, 26, 1);
    padding: 20px;
    width: 50%;
    text-align: center;
    max-width: 300px;
}
